<div class="ueber-uns-container twcss-p-16">
    {% for block in section.blocks %}
      {% assign input = block.settings %}
      <div class="twcss-grid twcss-grid-cols-2 twcss-gap-6 lg:twcss-grid-cols-3">
        <div>
            <p class="">

        {{ input.ueber }}
        </p>
        </div>
            <div>
                <img class="twcss-w-full" src="{{ input['ueber-image'] | image_url }}">
                </div>

        </div>

    {% endfor %}
</div>

{% schema %}
{
  "name": "Über Uns",
  "blocks": [
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "richtext",
          "label": "ueber-uns",
          "id": "ueber"
        },
        {
          "type": "image_picker",
          "label": "image",
          "id": "ueber-image"
        }
      ]
    }
  ]
}
{% endschema %}
